<button (click)="makeCall()">Make call to backend</button>
<button (click)="createCallback()">Create callback</button>
<button (click)="createEmptyObservable()">Create Empty Observable</button>
<button (click)="createFromObservable()">Create From Observable</button>
<button (click)="createIntervalObservable()">Create Interval Observable</button>
<button (click)="createiifObservable()">Create iif Observable</button>
<button (click)="createCancatMap()">create CancatMap</button>
<button (click)="createMap()">Create Map</button>
<button (click)="createMapTo()">Create Map To</button>
<button (click)="createMergeMap()">Create Merge Map</button>
<button (click)="createScan()">Create Scan</button>
<button (click)="createSwitchedMap()">Create SwitchMap</button>