.form-container {
    margin: auto;
    width: 400px;
    padding: 10px;
}

.error-message {
    color: red;
}

div {
    padding: 5px;
}

input {
    padding: 16px;
    width: 200px;
}

button {
    padding: 5px;
    width: 100px;
}