<div class="form-container">
    <form [formGroup]="register">
        <div>
            <input type="text" formControlName="name">
            <div *ngIf="getControl('name')?.invalid && getControl('name')?.touched" class="error-message">
                <div *ngIf="getControl('name')?.errors?.required">Username Required</div>
                <div *ngIf="getControl('name')?.errors?.invalidName">Invalid Hero Name</div>
            </div>
        </div>
        <div>
            <input type="text" formControlName="power">
            <div *ngIf="getControl('power')?.invalid && getControl('power')?.touched" class="error-message">
                <div *ngIf="getControl('power')?.errors?.required">Power Required</div>
                <div *ngIf="getControl('power')?.errors?.invalidPower">Invalid Power</div>
            </div>
        </div>
        <div>
            <button (click)="saveHero()">Submit</button>
            <button (click)="showHeroList()">Show List</button>
        </div>
    </form>
</div>