<button (click)="concatAll()">Concat All</button>
<button (click)="switchAllOperator()">Switch All</button>
<button (click)="startWithOperator()">Start With Operator</button>
<button (click)="withLatestFromOperator()">Latest Operator</button>

<hr>

<button (click)="shareOperator()">Share Operator</button>

<hr>

<button (click)="catchErrorOperator()">Catch Error Operator</button>
<button (click)="retryOperator()">Retry Operator</button>
<button (click)="retryWhenOperator()">Retry when Operator</button>