<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="firstname ">First Name </label>
        <input type="text " id="firstname " name="firstname " formControlName="firstname">
        <div class="error-message" *ngIf="reactiveForm.get('firstname')?.touched">
            <span *ngIf="reactiveForm.get('firstname')?.errors?.required"> Required</span>
            <span *ngIf="reactiveForm.get('firstname')?.dirty">dirty</span>
        </div>
    </div>

    <div>
        <label for="lastname ">Last Name </label>
        <input type="text " id="lastname " name="lastname " formControlName="lastname">
    </div>

    <div>
        <label for="email ">Email </label>
        <input type="text " id="email " name="email " formControlName="email">
        <div class="error-message">
            <span *ngIf="reactiveForm.get('email')?.errors?.required">Email is required</span>
        </div>
    </div>

    <div formArrayName="optionalemail">
        <button (click)="addEmail()">add email</button>
        <table>
            <tr *ngFor="let emails of optionalEmailControl;let i=index;">
                <td>Alternative email {{i}}</td>
                <td>
                    <input type="email" [formControlName]="i">
                </td>
                <td>
                    <button (click)="removeEmail(i)">remove {{i}}</button>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <button type="submit ">Submit</button>
    </div>

</form>

<hr>
<div [formGroup]="addressForm">

    <table formArrayName="address">
        <tr>
            <th colspan="2">Add Multiple Address:</th>
            <th><button type="button" (click)="addAddress()">Add More</button></th>
        </tr>
        <tr *ngFor="let addrss of address().controls; let i=index" [formGroupName]="i">
            <td>
                City :
                <input type="text" formControlName="city">
            </td>
            <td>
                State:
                <input type="text" formControlName="state">
            </td>
            <td>
                <button (click)="removeAddress(i)">Remove</button>
            </td>
        </tr>
    </table>
    <button type="button" (click)="formSubmit()">Submit address</button>
</div>