<button (click)="tapOperator()">Tap Operator</button>
<button (click)="delayOperator()">Delay Operator</button>
<button (click)="delayWhenOperator()">DelayWhen Operator</button>
<button (click)="materializeOperator()">Materialize Operator</button>
<button (click)="dematerializeOperator()">Dematerialize Operator</button>
<button (click)="suberscribeOnOperator()">suberscribeOn Operator</button>
<button (click)="timeIntervalOperator()">Time Interval Operator</button>
<button (click)="timestampOperator()">time stamp Operator</button>
<button (click)="timeOutOperator()">Time out Operator</button>
<button (click)="toArrayOperator()">To Array Operator</button>

<hr>

<button (click)="everyOperator()">Every Operator</button>
<button (click)="findOperator()">Find Operator</button>
<button (click)="findIndexOperator()">Find Index Operator</button>
<button (click)="isEmpatyOperator()">isEmpty Operator</button>

<hr>

<button (click)="countOperator()">Count Operator</button>
<button (click)="maxOperator()">Max Operator</button>
<button (click)="minOperator()">Min Operator</button>
<button (click)="reduceOperator()">Reduce Operator</button>