<button (click)="auditFilter()">Create audit filter</button>
<button (click)="distinctFilter()">Create distinct filter</button>
<button (click)="distinctKeyFilter()">Distinct Key Filter</button>
<button (click)="elementAtFilter()">ElementAt Filter</button>
<button (click)="filterFilter()">Filter Filter</button>
<button (click)="firstFilter()">First Filter</button>
<button (click)="lastFilter()">Last Filter</button>
<button (click)="singleFilter()">Single Filter</button>
<button (click)="skipFilter()">Skip Filter</button>
<button (click)="takeFilter()">Take Filter</button>
<button (click)="throttleFilter()">Throttle Filter</button>

<hr>

<button (click)="combineLatestOperator()">Combine latest operator</button>
<button (click)="concatOperator()">concatOperator</button>
<button (click)="partitionOperator()">Partition operator</button>
<button (click)="raceOperator()">Race operator</button>
<button (click)="zipOperator()">Zip operator</button>